{% extends 'base.html' %}
{% load static %}
{% block title %}Паролата е сменена | WoolCraft{% endblock %}
{% block content %}
    <div class="row justify-content-center my-5">
        <div class="col-12 col-lg-5 text-center">
            <i class="bi bi-check-circle brown-main-title" style="font-size: 4rem;"></i>
            <h3 class="h3-center fw-bold mb-4">Паролата е сменена успешно</h3>
            <p class="text-muted">Влезте с новата си парола.</p>
            <a href="{% url 'accounts:login' %}" class="btn btn-less-brown mt-2">Към вход</a>
        </div>
    </div>
{% endblock %}