{% extends 'base.html' %}
{% load static %}
{% block title %}Имейлът е изпратен | WoolCraft{% endblock %}
{% block content %}
    <div class="row justify-content-center my-5">
        <div class="col-12 col-lg-5 text-center">
            <i class="bi bi-envelope-check brown-main-title" style="font-size: 4rem;"></i>
            <h3 class="h3-center fw-bold mb-4">Проверете имейла си</h3>
            <p class="text-muted ">Изпратен е линк за нова парола с валидност 24 часа.</p>
            <a href="{% url 'accounts:login' %}" class="btn btn-outline-less-brown text-center mt-2">
                Към вход
            </a>
        </div>
    </div>
{% endblock %}